<section id="Discount">
    <div class="container-fluid">
        <div class="row">
         
            
                <div class="col-md-6">
            <div class="banner-ad bg-danger mb-3" style="background: url('@ViewBag.ThirdDiscount.ImageUrl');background-repeat: no-repeat;background-position: right bottom;">
                    <div class="banner-content p-5">

                    <div class="categories text-primary fs-3 fw-bold">@ViewBag.ThirdDiscount.Title</div>
                    <h3 class="banner-title">@ViewBag.ThirdDiscount.Subtitle</h3>
                    <p>@ViewBag.ThirdDiscount.Description</p>
                        <a href="#" class="btn btn-dark text-uppercase">Show Now</a>

                    </div>

                </div>
            </div>
            
             <div class="col-md-6">
            <div class="banner-ad bg-info" style="background: url('@ViewBag.FourthDiscount.ImageUrl');background-repeat: no-repeat;background-position: right bottom;">
                    <div class="banner-content p-5">

                        <div class="categories text-primary fs-3 fw-bold">@ViewBag.FourthDiscount.Title</div>
                    <h3 class="banner-title">@ViewBag.FourthDiscount.Subtitle</h3>
                    <p>@ViewBag.FourthDiscount.Description</p>
                        <a href="#" class="btn btn-dark text-uppercase">Show Now</a>

                    </div>

                </div>
            </div> 

        </div>
    </div>
</section>